# 0.0 Imports

In [54]:
import pandas as pd
import numpy as np

import inflection

import matplotlib.pyplot as plt
import seaborn as sns



import warnings
warnings.filterwarnings( 'ignore' )

from IPython.display import display
pd.options.display.max_columns = None

## 0.1 Helper Functions

## 0.2 Loading Data

In [55]:
df_raw = pd.read_csv('../data/raw/df_raw0.csv', parse_dates=['data'], index_col='data')
df_raw.head(3)

,AMBEV,rsi,roc,willr,BRF,EURO,Heineken_euro,JBS,DOLAR,IBOVESPA,cdi,Risco_Brasil,Dividends,selic_meta_diario,selic_overnight_diario,taxa_desemprego_pnad_mensal_diario,volume_vendas_varejo_setor_diario_x,ipca_diario,igpm_diario,volume_vendas_varejo_setor_diario_y,producao_bens_consumo_diario,tx_juros_americano_day,industry_production_daily,desemprego_americano_day,inflacao_americana_daily
data,,,,,,,,,,,,,,,,,,,,,,,,,
2000-01-05,0.322,NaN,NaN,NaN,764.274,NaN,23.801,NaN,NaN,16245.0,0.068,677.0,0.0,0.146,0.146,NaN,2.468,0.022,0.056,2.468,NaN,0.088,4.172,0.182,0.263
2000-01-06,0.305,NaN,NaN,NaN,744.420,NaN,25.396,NaN,NaN,16107.0,0.068,688.0,0.0,0.146,0.146,NaN,2.468,0.022,0.056,2.468,NaN,0.088,4.172,0.182,0.263
2000-01-07,0.305,NaN,NaN,NaN,744.420,NaN,25.776,NaN,NaN,16309.0,0.068,677.0,0.0,0.146,0.146,NaN,2.468,0.022,0.056,2.468,NaN,0.088,4.172,0.182,0.263

In [56]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5598 entries, 2000-01-05 to 2022-04-14
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   AMBEV                                5598 non-null   float64
 1   rsi                                  5584 non-null   float64
 2   roc                                  5588 non-null   float64
 3   willr                                5585 non-null   float64
 4   BRF                                  4212 non-null   float64
 5   EURO                                 4536 non-null   float64
 6   Heineken_euro                        5572 non-null   float64
 7   JBS                                  3730 non-null   float64
 8   DOLAR                                4148 non-null   float64
 9   IBOVESPA                             5512 non-null   float64
 10  cdi                                  5536 non-null   float64
 11  Risco_Brasil                         5576 non-null   float64
 12  Dividends                            5598 non-null   float64
 13  selic_meta_diario                    5598 non-null   float64
 14  selic_overnight_diario               5589 non-null   float64
 15  taxa_desemprego_pnad_mensal_diario   2420 non-null   float64
 16  volume_vendas_varejo_setor_diario_x  5506 non-null   float64
 17  ipca_diario                          5566 non-null   float64
 18  igpm_diario                          5566 non-null   float64
 19  volume_vendas_varejo_setor_diario_y  5506 non-null   float64
 20  producao_bens_consumo_diario         4987 non-null   float64
 21  tx_juros_americano_day               5566 non-null   float64
 22  industry_production_daily            5566 non-null   float64
 23  desemprego_americano_day             5566 non-null   float64
 24  inflacao_americana_daily             5566 non-null   float64
dtypes: float64(25)
memory usage: 1.1 MB

# 1.0 Descrição dos Dados

In [57]:
df1 = df_raw.copy()

In [58]:
# Data dimensions
print( 'Number of Rows: {}'.format( df1.shape[0] ) )
print( 'Number of Cols: {}'.format( df1.shape[1] ) )

Number of Rows: 5598
Number of Cols: 25

In [59]:
# mean % of nulls
df1.isna().mean()*100

AMBEV                                   0.000000
rsi                                     0.250089
roc                                     0.178635
willr                                   0.232226
BRF                                    24.758842
EURO                                   18.971061
Heineken_euro                           0.464452
JBS                                    33.369060
DOLAR                                  25.902108
IBOVESPA                                1.536263
cdi                                     1.107538
Risco_Brasil                            0.392997
Dividends                               0.000000
selic_meta_diario                       0.000000
selic_overnight_diario                  0.160772
taxa_desemprego_pnad_mensal_diario     56.770275
volume_vendas_varejo_setor_diario_x     1.643444
ipca_diario                             0.571633
igpm_diario                             0.571633
volume_vendas_varejo_setor_diario_y     1.643444
producao_bens_consumo_diario           10.914612
tx_juros_americano_day                  0.571633
industry_production_daily               0.571633
desemprego_americano_day                0.571633
inflacao_americana_daily                0.571633
dtype: float64

In [60]:
# description of numerical data , round(2)
df1.describe(percentiles = [.25, .5, .75, .95, .99]).round(2).T

,count,mean,std,min,25%,50%,75%,95%,99%,max
AMBEV,5598.0,7.79,6.38,0.29,1.97,5.22,14.67,17.25,19.57,21.44
rsi,5584.0,46.77,12.78,6.04,38.00,46.54,55.53,67.29,78.44,95.52
roc,5588.0,-0.44,6.00,-36.31,-3.66,-0.66,2.49,8.04,13.74,85.55
willr,5585.0,-53.94,31.83,-100.00,-81.83,-56.58,-25.29,-0.00,0.00,-0.00
BRF,4212.0,52.23,123.04,1.79,19.77,26.10,43.92,65.25,739.46,818.86
EURO,4536.0,3.52,1.18,2.17,2.62,3.16,4.07,6.33,6.63,6.96
Heineken_euro,5572.0,45.67,25.82,15.52,26.14,32.35,71.94,93.41,99.17,104.10
JBS,3730.0,10.65,8.09,2.22,5.60,7.38,11.81,28.84,36.84,38.76
DOLAR,4148.0,2.93,1.19,1.53,1.96,2.41,3.73,5.41,5.67,5.89
IBOVESPA,5512.0,53870.63,29613.29,8371.00,27111.50,53968.00,67638.75,112567.25,122809.67,130776.00
cdi,5536.0,0.05,0.02,0.01,0.03,0.04,0.06,0.07,0.09,0.09
Risco_Brasil,5576.0,338.52,208.29,1.00,216.00,267.00,407.25,802.00,937.50,999.00
Dividends,5598.0,0.00,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.96
selic_meta_diario,5598.0,0.12,0.02,0.05,0.11,0.12,0.14,0.15,0.16,0.16
selic_overnight_diario,5589.0,0.12,0.02,0.05,0.11,0.12,0.14,0.15,0.16,0.16
taxa_desemprego_pnad_mensal_diario,2420.0,0.48,0.12,0.29,0.35,0.53,0.58,0.66,0.68,0.68
volume_vendas_varejo_setor_diario_x,5506.0,3.69,0.87,2.29,2.75,3.90,4.39,4.80,5.58,5.60
ipca_diario,5566.0,0.02,0.01,-0.02,0.01,0.02,0.02,0.04,0.05,0.06
igpm_diario,5566.0,0.03,0.04,-0.05,0.01,0.03,0.05,0.11,0.19,0.24
volume_vendas_varejo_setor_diario_y,5506.0,3.69,0.87,2.29,2.75,3.90,4.39,4.80,5.58,5.60
producao_bens_consumo_diario,4987.0,4.25,0.44,3.01,3.92,4.26,4.54,4.98,5.23,5.27
tx_juros_americano_day,5566.0,0.04,0.03,0.00,0.01,0.03,0.06,0.09,0.10,0.10
industry_production_daily,5566.0,4.39,0.22,3.83,4.22,4.45,4.58,4.68,4.73,4.74
desemprego_americano_day,5566.0,0.27,0.09,0.16,0.20,0.24,0.31,0.44,0.50,0.67
inflacao_americana_daily,5566.0,0.28,0.01,0.26,0.27,0.28,0.28,0.29,0.29,0.29

In [61]:
# Change Dividends for binary 
df1['Dividends_boolean'] = df1['Dividends'].apply(lambda x: 0 if x == 0 else 1)

In [62]:
# Drop columns with nulls mean > 50
df1.drop(['taxa_desemprego_pnad_mensal_diario'], axis=1, inplace = True)

In [63]:
# Data dimensions
print( 'Number of Rows: {}'.format( df1.shape[0] ) )
print( 'Number of Cols: {}'.format( df1.shape[1] ) )

Number of Rows: 5598
Number of Cols: 25

In [64]:
# Rename Columns
columns_old = df1.columns
snakecase = lambda x: inflection.underscore( x )

cols_new = list( map( snakecase, columns_old ) )

# rename
df1.columns = cols_new
df1.columns

Index(['ambev', 'rsi', 'roc', 'willr', 'brf', 'euro', 'heineken_euro', 'jbs',
       'dolar', 'ibovespa', 'cdi', 'risco_brasil', 'dividends',
       'selic_meta_diario', 'selic_overnight_diario',
       'volume_vendas_varejo_setor_diario_x', 'ipca_diario', 'igpm_diario',
       'volume_vendas_varejo_setor_diario_y', 'producao_bens_consumo_diario',
       'tx_juros_americano_day', 'industry_production_daily',
       'desemprego_americano_day', 'inflacao_americana_daily',
       'dividends_boolean'],
      dtype='object')

# 2.0 Feature Engineering

In [65]:
df2 = df1.copy()

## 2.1 Hypothesis

**Cenário Interno**
- quando o risco Brasil aumenta, as ações caem
- quando o risco Brasil aumenta, o volume de negociação diminui
- fatores econômicos influenciam no retorno da ambev

**Cenário Internacional**
- Quanto menor a taxa de juros americana, maior o volume da Ibovespa
- Um bom cenário economico americano impacta no volume ou cotaçao da Ambev

**Ação**
- Existe uma correlação entre a variação da cotação da entre as cervejarias Heineken e Ambev
- Nos dias que antecedem a distrinuição de dividendos, há uma maior procura pela ação da ambev (volume de negociação), influenciando no preço da ação de forma positiva
- A taxa de returno diária da Ambev é maior que o CDI e a inflação
- O retorno acumulado da Heineken é maior que o da Ambev ao longo dos últimos 5 anos
- Historicamente a valorização dos preços da ação da Ambev é maior que a inflação e CDI

## 2.2 Feature Engineering

In [66]:
# convert euro X real
df2['heineken_real'] = (df2.heineken_euro * df2.euro).round(2)

In [117]:
# volume 
import yfinance as yf
import datetime
volume_ambev = yf.download('ABEV3.SA', start = '2000-01-01', end = df2.index[-1])['Volume']
volume_ibovespa = yf.download('^BVSP', start = '2000-01-01', end = df2.index[-1])['Volume']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [118]:
volume_ibovespa

Date
2000-01-03           0
2000-01-04           0
2000-01-05           0
2000-01-06           0
2000-01-07           0
                ...
2022-04-07    11520100
2022-04-08    11225800
2022-04-11     9558400
2022-04-12    11406800
2022-04-13    12070500
Name: Volume, Length: 5513, dtype: int64

In [119]:
df2['volume_ambev'] = volume_ambev
df2['volume_ibovespa'] = volume_ibovespa

In [120]:
df2.tail(2)

,ambev,rsi,roc,willr,brf,euro,heineken_euro,jbs,dolar,ibovespa,cdi,risco_brasil,dividends,selic_meta_diario,selic_overnight_diario,volume_vendas_varejo_setor_diario_x,ipca_diario,igpm_diario,volume_vendas_varejo_setor_diario_y,producao_bens_consumo_diario,tx_juros_americano_day,industry_production_daily,desemprego_americano_day,inflacao_americana_daily,dividends_boolean,heineken_real,DYT,volume_ambev,volume_ibovespa
data,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2022-04-13,14.83,43.559,-6.255,-71.449,15.78,5.056,87.68,37.45,4.673,116782.0,0.044,296.0,0.0,0.123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,443.31,0.0,33771300.0,12070500.0
2022-04-14,14.70,57.786,-1.250,-14.274,15.23,5.107,90.02,38.48,4.690,116182.0,0.044,NaN,0.0,0.123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,459.73,0.0,NaN,NaN